// Links

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  cursor: pointer;
}


// Headings

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: unset;
  font-family: $font-family-caption;
  font-weight: 700;
}


// Images

img,
svg {
  max-width: 100%;
  height: auto;
}


// Rulers

hr {
  font-size: 0;
  line-height: 0;
  height: 0;
  color: transparent;
}


// Figures

figure {
  margin: unset;
}


// Preformatted

pre {
  white-space: unset;
}
